@define-color bg rgba(25, 25, 25, 0.25);
@define-color bg_tip rgba(0, 0, 0, 0.7);
@define-color bg_transparant rgba(0, 0, 0, 0.0);
@define-color border_main rgba(255, 255, 255, 0.2);
@define-color fg white;
@define-color tool_tip_lable yellow;
@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

* {
    font-family: "JetBrainsMono", monospace;
    font-size: 20px;
    font-weight: bold;
    border:none;
    background-color: @bg;
}


#workspaces button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @yellow;
}
#workspaces button.empty {
    color: @wht;
}
#workspaces button.empty.active {
    color: @cyn;
}
#submap {
  background-color: alpha(@surface1, 0.7);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#custom-logout_menu {
  color: @red;
  border-radius: 15px 0 0 15px;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#network {
  background-color: @bg_transparant;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:@wht;
}
#network.disabled {
  color: alpha(@red,0.5);
}

#network.disconnected {
  color: alpha(@red,0.7);
}

#network.connected {
  color: alpha(@grn,0.7);
}

#network.linked {
  color: @grn;
}
#network#wifi.linked {
  color: @grn;
}
#keyboard-state label.locked {
  color: yellow;
}

#keyboard-state label {
  color: @subtext0;
  padding-left: 10px;
  padding-right: 20px;
}
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}
#idle_inhibitor
{

    color: @wht;
}
#clock {
    color: @peach;
}
#cpu{
    color: @ylw;
}
#disk {
    color: @ylw;
}

#temperature{
    color: @ylw;
}

#bluetooth{
    color: @blue;
}
#memory {
    color: @wht;
}

#pulseaudio {
    color: @wht;
}

#disk {
    color: @wht;
}

#backlight {
    color: @wht;
}
#battery {
    color: @wht;
}
#cpu {
    color: @wht;
}


